<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.deleteURL1 = "<%= image_url('delete1.svg') %>";
      window.deleteURL2 = "<%= image_url('delete2.svg') %>";
      window.infoURL1 = "<%= image_url('info1.svg') %>";
      window.infoURL2 = "<%= image_url('info2.svg') %>";
      window.editURL1 = "<%= image_url('edit1.svg') %>";
      window.editURL2 = "<%= image_url('edit2.svg') %>";
    </script>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe
        %>
      </script>
    <% end %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
